@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-content1 {
  background-color: #1a202c;
}
/* Hide default scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'kaotika';
  src: url('../fonts/kaotika.ttf') format('truetype');
}
html {
  height: 100%;
}


body {
  font-family: 'kaotika', serif;
  background-color: #1a202c;
  color: #f9d564;
  min-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Spinner styles */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #f3bb05; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: inherit;
}

header a {
  transition: color 0.2s;
}

header a:hover {
  color: #ffd700; 
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.row-container-animation {
  animation: scaleUpAndDown 0.5s ease-out forwards;
}

@keyframes scaleUpAndDown {
  0% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1.00);
  }
}
